nav {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    background-color: #33658A;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    height: 150px;
    

}

.left-menu {
    display:flex;
    gap: 20px;
    justify-content: space-evenly;
    
}

.right-menu {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.nav-logo {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    
}

nav a {
    color:white;
    text-decoration: none;

}

nav a:hover {
    color: #f6ae2d;
}

